<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} - %-5level - ${PID} - [%-32.32thread] - %-64.64logger{64} : %msg%n</pattern>
		</encoder>
	</appender>

	<!-- logback日志记录器追加记录，备份按每天，按文件大小100MB进行备份 -->
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logback.file.path}/api-member_feign/api-member_feign.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logback.file.path}/api-member_feign/api-member_feign.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>75</maxHistory>
			<maxFileSize>100MB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} - %-5level - ${PID} - [%-32.32thread] - %-64.64logger{64} : %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="me.loveshare" level="${log.level}"/>

	<logger name="org.xnio" level="${third.party.log.level}"/>
	<logger name="io.undertow" level="${third.party.log.level}"/>
	<logger name="org.springframework" level="${third.party.log.level}"/>
	<logger name="org.apache" level="${third.party.log.level}"/>
	<logger name="ch.qos.logback" level="${third.party.log.level}"/>
	<logger name="com.netflix" level="${third.party.log.level}"/>
	<logger name="org.hibernate" level="${third.party.log.level}"/>

	<root level="${log.level}">
		<appender-ref ref="console"/>
		<appender-ref ref="rollingFile"/>
	</root>
</configuration>